<!doctype html>
<html dir="ltr" lang="<%= I18n.locale %>">
  <head>
    <!-- title and meta -->
    <meta charset="utf-8">
    <meta content="width=device-width,initial-scale=1.0" name="viewport">
    <title>Marions Site</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Exo:400i,300i|Jura:400,300|Oswald:400,300|Comfortaa:400,300&subset=latin,latin-ext' %>
    <%= stylesheet_link_tag 'frontend' %>
    <%= javascript_include_tag 'modernizr' %>
    <%= include_ember_script_tags :frontend %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
